# this is the template env file. 
# copy this, rename to `local.env`, then put your secrete key
PROJECT_NAME="python-project-starter"

SOME_API_KEY="sk-xxxxxxxxxx"

LOG_DIR="logs/"
LOG_NAME="main.log"
LOG_ROTATE_NAME="main_rotate.log"

FASTAPI_HOST="0.0.0.0"
FASTAPI_PORT=8000
FASTAPI_WORKERS=1

REDIS_URL=redis://:redispassword@redis:6379/0